body {
  margin: 0px;
}

#root {
  height: 100vh;
  overflow-y: hidden;
}

.scrollbar-container {
  height: 99vh !important;
}

/*MEDIA QUERYS ARE GOING TO LIVE AT THE BOTTOM OF THE PAGE*/

@media (min-width: 600px) {
  .MuiTab-root {
    min-width: 120px !important;
  }
}
