 
.NavBar {
  background-color: white;
  height: 50px;
  margin-bottom: 20px;
  padding: 10px 100px 10px 10px;
  position: absolute;
  width: 100%;

  .MuiButton-outlined {
    border: 1px solid white !important;
  }


  .ProfileNameDiv {
      padding-right: 20px !important;
  }
}

.ProfileMenu {
  border: 1px !important;

  .Logout {
    color: red !important;
  }
}

.BottomNavBar {
  position: fixed;
  bottom: 0;
  width: 100%;
}
